html, body
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: 游ゴシック体, Hiragino ,'Hiragino' , 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#PageHeader1
{
   background-color: #FFFDFD;
   background-image: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Shape7
{
   border-width: 0;
   width:100%;
   height:100%;
}
#wb_Shape7
{
   left:0px;
   top:538px;
   width:100%;
   height:380px;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
   height:16px;
   left:0;
   top:60px;
   width:100%;
}
#Heading3
{
   color: #FFFFFF;
   font-weight: 600;
   font-size: 18px;
   margin: 0;
   text-align: center;
}
#Line1
{
   color: #FFFFFF;
   background-color: #FFFFFF;
   border-width: 0;
   margin: 0;
   padding: 0;
   left:calc(50% - 30px);
   top:30px;
   width:60px;
   height:1px;
}
#RollOverText1 .description
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
   padding: 0px 10px 0px 10px;
   text-align: center;
}
#RollOverText1 .link
{
   display: inline-block;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #FFFFFF;
   padding: 0px 10px 10px 10px;
   text-decoration: underline;
}
#RollOverText1 .title
{
   text-align: center;
   padding: 10px 10px 0px 10px;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #FFFFFF;
}
#RollOverText1 .caption
{
   float: left;
   position: absolute;
   left: 0;
   top: 0;
   text-align: center;
   background: #000000;
   width: 100%;
   opacity: 0;
}
#RollOverText1 .image
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOverText1
{
   border-width: 0;
}
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
   font-weight: 600;
   font-size: 60px;
   color:#FFFFFF;
   left:54px;top:265px;width:900px;height:150px;
}
#wb_Text3 div
{
   text-align: left;
}
#Image2
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   height:80px;
   width: 69px;
   padding-left: calc(50% - 34.5px);
}
#wb_Image2
{
   left:50%;top:0;width:96px;height:141px;
}
#Image3
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   height:80px;
   width: 79px;
   padding-left: calc(50% - 39.5px);
}
#wb_Image3
{
   left:75%;top:0;width:168px;height:141px;
}
#Image4
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   height:80px;
   width: 80px;
   margin-left: calc(50% - 40px);
}
#wb_Image4
{
   left:25%;top:0;width:86px;height:141px;
}
#Image5
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   height:77px;
   width: 80px;
   margin-left: calc(50% - 40px);
}
#wb_Image5
{
   left:0;top:0;width:132px;height:141px;
}
#wb_Text2
{
   left:0;top:calc(80px + 31px);width:100%;height:30px;
}
#wb_Text4
{
   left:0;top:calc(80px + 31px);width:100%;height:36px;
}
#wb_Text8
{
   left:0;top:calc(80px + 31px);width:100%;height:36px;
}
#wb_Text9
{
   left:0;top:calc(77px + 31px);width:100%;height:30px;
}
#wb_Text2 ,#wb_Text4 ,#wb_Text8 ,#wb_Text9
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
   color:#FFFFFF;
   font-size:12px;
   font-weight: 600;
}
#wb_Text2 div,#wb_Text4 div,#wb_Text8 div,#wb_Text9 div
{
   text-align: center;
}

#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
   font-size: 12px;
   font-weight: 300;
   color: #FFFFFF;
   left:0;top:293px;width:100%;height:34px;
}
#wb_Text15 div
{
   text-align: center;
}
#Image6
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text10
{
   top:53px;
   height:17px;
}
#wb_Text24
{
   top:90px;
   height:17px;
}
#wb_Text25
{
   top:127px;
   height:89px;
}
#wb_Text11
{
   top:53px;
   height:45px;
}
#wb_Text26
{
   top:118px;
   height:15px;
}
#wb_Text27
{
   top:153px;
   height:104px;
}
#wb_Text12
{
   top:53px;
   height:64px;
}
#wb_Text23
{
   top:137px;
   height:184px;
}
#wb_Text28
{
   top:341px;
   height:40px;
}
#wb_Text16
{
   top:53px;
   height:132px;
}
#wb_Text18
{
   top:205px;
   height:189px;
}
#wb_Text13
{
   top:414px;
   height:74px;
}
#wb_Text19
{
   top:53px;
   height:132px;
}
#wb_Text20
{
   top:290px;
   height:160px;
}
#wb_Text14
{
   top:485px;
   height:200px;
}
#wb_Text10 ,#wb_Text11,#wb_Text12,#wb_Text13,#wb_Text14,#wb_Text16,#wb_Text18,#wb_Text19,#wb_Text20,#wb_Text23,#wb_Text24,#wb_Text25,#wb_Text26,#wb_Text27,#wb_Text28 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
   color: #000000;
   font-size: 16px;
   font-weight: 300;
   width: calc(100% - 216px);
}
#wb_Text10  div,#wb_Text11 div,#wb_Text12 div,#wb_Text13 div,#wb_Text14 div,#wb_Text16 div,#wb_Text18 div,#wb_Text19 div,#wb_Text20 div,#wb_Text23 div,#wb_Text24 div,#wb_Text25 div,#wb_Text26 div,#wb_Text27 div,#wb_Text28 div
{
   text-align: left;
}
#wb_Heading16, #wb_Heading1 ,#wb_Heading2 ,#wb_Heading4 , #wb_Heading5
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
   width: calc(100% - 216px);
   top: 15px;
}
#Heading16 , #Heading1, #Heading2, #Heading4 , #Heading5
{
   color: #1C1C1C;
   font-weight: 600;
   font-size: 18px;
   margin: 0;
   text-align: left;
}
#Image7
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image9
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

#Image10
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

#Image11
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image26
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_CssMenu2
{
   border: 0px #C0C0C0 solid;
   background-color: #2E456C;
   position:absolute;left:0px;top:3459px;width:100%;height:29px;text-align:center;z-index:38;
}
#wb_CssMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 20px 0px 0px;
}
#wb_CssMenu2 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #CCCCCC solid;
   background-color: transparent;
   background-image: url(../images/ico_triangle.png);
   background-repeat: no-repeat;
   background-position: left center;
   font-family: Arial;
   font-weight: normal;
   font-size: 12px;
   font-style: normal;
   text-decoration: none;
   height: 28px;
   line-height: 28px;
   padding: 0px 5px 0px 15px;
   vertical-align: middle;
   text-align: center;
}
#wb_CssMenu2 li:hover a, #wb_CssMenu2 a:hover
{
   color: #D7092F;
   background-color: transparent;
   background-image: url(../images/ico_triangle.png);
   background-repeat: no-repeat;
   background-position: left center;
   border: 0px #2E6DA4 solid;
}
#wb_CssMenu2 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu2 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Image49
{
   left: calc(50% - 143px);top:3498px;width:286px;height:50px;
}
#Image49
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image12
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Shape4
{
   left:0px;
   top:3036px;
   width:100%;
   height:424px;
}
#Shape4
{
   border-width: 0;
}
#wb_Shape6
{
   left: 10%;
   width:80%;
   top:184px;
   height:180px;
}
#Shape6
{
   border-width: 0;
}
#wb_Text38 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
   color: #000000;
   font-family:"Roboto";
   font-weight: bold;
   font-size: 14px;
   left:0;top:0;
   width:100%;
   height:23px;
}
#wb_Text38 div
{
   text-align: left;
}
#wb_Text39 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
   color: #022C50;
   font-family:"Roboto";
   font-weight: bold;
   font-size: 40px;
   left:132px;
   top:23px;
   width:260px;
   height:54px;
}
#wb_Text39 div
{
   text-align: left;
}
#wb_Text40 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
   font-family: 游ゴシック体, Hiragino ,'Hiragino' , 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
   font-weight: 600;
   font-size: 12px;
   color:#022C50;
   left:153.596px;
   top:82px;
   width:173px;
   height:12px;
}
#wb_Text40 div
{
   text-align: left;
}
#wb_Text41 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
   font-family: 游ゴシック体, Hiragino ,'Hiragino' , 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
   font-weight: 600;
   font-size: 12px;
   color:#022C50;
   left:153.596px;
   top:103px;
   width:175px;
   height:12px;
}
#wb_Text41 div
{
   text-align: left;
}
#wb_Text42 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
   color: #000000;
   font-family:"Roboto";
   font-weight: bold;
   font-size: 14px;
   left:0;
   top:0;
   width:100%;
   height:23px;
}
#wb_Text42 div
{
   text-align: center;
}
#Button21
{
   border: 0px #1274E0 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #1274E0;
   background-image: none;
   color: #FFFFFF;
   font-family: 游ゴシック体, Hiragino ,'Hiragino' , 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
   font-weight: 600;
   font-size: 18px;
   position:absolute;
   left:0;
   top:0;
   width:100%;
   height:64px;
   z-index:109;
   text-align: right;
   padding-right: 20%;
   cursor: pointer;
}
#Image47
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image47
{
   left:91.328px;top:32.11px;width:28px;height:28px;
}
#wb_Image48{
   position:absolute;
   left:calc(50% - 147.5px);
   top:34px;
   width: 295px;
   height:64px;
}
#Image48
{
   border: 0px #000000 solid;
   position:absolute;
   padding: 0px 0px 0px 15%;
   left: 0;
   top: 6px;
   width: 45px;
   height: 45px;
   z-index:111;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
   position:absolute;
   left:28.08px;
   top:0;
   width:150px;
   height:22px;
   z-index:0;
   color:#022C50;font-family: 'Roboto', sans-serif;font-weight: bold; font-size:22px;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
   position:absolute;
   left:67.334%;
   top:47px;
   width:164px;
   height:12px;
   z-index:1;
   text-align:left; 
   color:#022C50;
   font-family: 游ゴシック体, Hiragino ,'Hiragino' , 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
   font-weight: 300;
   font-size:12px;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
   position:absolute;
   left:67.334%;
   top:66px;
   width:166px;
   height:13px;
   z-index:2;
   color:#022C50;
   font-family: 游ゴシック体, Hiragino ,'Hiragino' , 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
   font-weight: 300; 
   font-size:12px;
}
#wb_Text7 div
{
   text-align: left;
}
#Image44
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}.header {
   position: relative;
   min-width: 1340px;
   height: 105px!important;
}
.header__content {
   width: 1340px;
   height: 100px;
   margin: 0 auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.header__left-col {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: start;
   -ms-flex-pack: start;
   justify-content: flex-start;
   width: 50%;
}
.header__right-col {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   justify-content: flex-end;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   width: 50%;
}
.header__logo {
   padding: 27px 0 0 10px;
   margin: 0;
}
.header__mob {
   display: none;
   position: relative;
   width: 100%;
   height: 145px!important;
}
.header__mob .header__content {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.header__mob .header__left-col {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: start;
   -ms-flex-pack: start;
   justify-content: flex-start;
   width: 70%;
}
.header__mob .header__right-col {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   justify-content: flex-end;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   width: 30%;
}
.header__mob .header__logo {
   padding: 25px 0 0 5%;
   margin: 0;
   width: 100%;
}
#Image45
{
   border: 0px #000000 solid;
   padding: 3px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 21px;
   height: 18px;
}
#Button1
{
   border: 1px #2E6DA4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #1274E0;
   background-image: none;
   color: #FFFFFF;
   font-family: 游ゴシック体, Hiragino ,'Hiragino' , 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
   font-weight: 600;
   font-size: 18px;
   position:absolute;
   left:0;
   top:0;
   width:182px;
   height:40px;
   z-index:6;
   padding-right: 10%;
   text-align: right;
   cursor: pointer;
}
#wb_Image46{
   position:absolute;

   left:83.19%;
   top:30px;
   width:182px;
   height:40px;
}
#Image46
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 10%;
   left: 0;
   top: 6px;
   position:absolute;
   width:28px;
   height:28px;
   z-index:7;
}
#wb_CssMenu1
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   position:absolute;
   left:20px;
   top:105px;
   width:96.667%;
   height:30px;
   text-align:center;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   height: 100%;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   
   border-left: 1px #CCCCCC solid;
   border-right: 1px #CCCCCC solid;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #022C50;
   background-color: #FFFFFF;
   background-image: none;
   font-family: 游ゴシック体, Hiragino ,'Hiragino' , 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
   font-weight: 600;
   font-size: 12px;
   font-style: normal;
   text-decoration: none;
   height: 30px;
   line-height: 30px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #FFFFFF;
   background-color: #1274E0;
   height: 30px;
   background-image: none;
   border: 1px #2E6DA4 solid;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}

.show {
   display: block;
}
.hide {
   display: none;
}

#wb_Image50{
   position: absolute;
   left: calc(100% - 5% - 56px);
   top: 25px;
   width: 56px;
   height: 56px;
   z-index: 80;
}
#wb_Image50 i{
   font-size: 60px;
   width: 56px;
   height: 56px;
   color: #022C50;
}
#wb_Image51{
   position: absolute;
   left: calc(100% - 20% - 56px);
   top: 25px;
   width: 56px;
   height: 56px;
   z-index: 80;
}
#wb_Image51 i{
   font-size: 60px;
   width: 56px;
   height: 56px;
   color: #022C50;
}
#wb_CssMenu3
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   position:absolute;
   left:0;
   top:145px;
   width:100%;
   height:30px;
   text-align:center;
}
#wb_CssMenu3 ul
{
   list-style-type: none;
   margin-top: -31px;
   padding: 0;
}
#wb_CssMenu3 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
}
#wb_CssMenu3 a
{
   display: block;
   float: left;
   color: #022C50;
   border-left: 1px #CCCCCC solid;
   border-right: 1px #CCCCCC solid;
   background-color: #FFFFFF;
   background-image: none;
   font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
   font-weight: 600;
   font-size: 12px;
   font-style: normal;
   text-decoration: none;
   height: 26px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 26px;
   text-align: center;
}
#wb_CssMenu3 li:hover a, #wb_CssMenu3 a:hover, #wb_CssMenu3 .active
{
   color: #FFFFFF;
   background-color: #1274E0;
   height: max-content;
   background-image: none;
   border: 1px #2E6DA4 solid;
}
#wb_CssMenu3 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu3 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu3 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
   font-family: 游ゴシック体, Hiragino ,'Hiragino' , 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
   font-weight: 600;
   font-size: 8px;color:#FFFFFF;
   position:absolute;
   left:48.5%;
   top:470px;
   width:36px;
   height:8px;
   text-align:center;
   z-index:115;
}
#wb_Text17 div
{
   text-align: center;
}
#Line5
{
   color: #08246F;
   background-color: #08246F;
   border-width: 0;
   margin: 0;
   padding: 0;
   height:48px;
}

#Line2
{
   color: #08246F;
   background-color: #08246F;
   border-width: 0;
   margin: 0;
   padding: 0;
   height:48px;
}

#Line3
{
   color: #08246F;
   background-color: #08246F;
   border-width: 0;
   margin: 0;
   padding: 0;
   height:48px;
}

#Line4
{
   color: #08246F;
   background-color: #08246F;
   border-width: 0;
   margin: 0;
   padding: 0;
   height:48px;
}


#Line6
{
   color: #08246F;
   background-color: #08246F;
   border-width: 0;
   margin: 0;
   padding: 0;
   height:48px;
}

#wb_Heading6
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
}
#Heading6
{
   color: #FFFFFF;
   font-family: "Roboto";
   font-weight: bold;
   font-size: 30px;
   margin: 0;
   text-align: center;
}
#wb_Heading7
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
}
#Heading7
{
   color: #FFFFFF;
   font-family: "Roboto";
   font-weight: bold;
   font-size: 14px;
   margin: 0;
   text-align: center;
}
#Line7
{
   color: #000000;
   background-color: #000000;
   border-width: 0;
   margin: 0;
   padding: 0;
   left:50%;
   top:30px;
   width:1px;
   height:103px;
}
#l1
{
   width: 8.053%;
}
#l2
{
   width: 15%
}
#l3
{
   width: 9.484%;
}
#l4
{
   width: 11.21%;
}
#l5
{
   width: 12.845%;
   line-height: 1.30;
}
#l6
{
   width: 12.845%;
   line-height: 1.30;
}
#l7
{
   width: 11.9%;
   line-height: 1.30;
}
#l8
{
   width: 16.984%;
   line-height: 1.30;
}
#l55 , #l66 {
   width: 72px;
   line-height: 1.30;
   padding-left: calc(50% - 36px);
}
#l77 {
   width: 62px;
   line-height: 1.30;
   padding-left: calc(50% - 31px);
}
#l88{
   width: 126px;
   line-height: 1.30;
   padding-left: calc(50% - 63px);
}
#left-side
{
   left:0;
   top:30px;
   width:50%;
   height:calc(100% - 30px);
}
#right-side
{
   left:50%;
   top:30px;
   width:50%;
   height:calc(100% - 30px);
}
#cont2{
   position: absolute;
   width: 1017px;
   height: 2050px;
   left:calc(50% - 508.5px);
   top:977px;
}
#cc1{
   left: 0; 
   width: 1017px;
   height: 216px
}
#cc2{
   left: 0; 
   width: 1017px;
   height: 257px; 
   top: 252px;
}
#cc3{
   left: 0; 
   width: 1017px;
   height: 381px; 
   top: 553px;
}
#cc4{
   left: 0; 
   width: 1017px;
   height: 488px; 
   top: 974px;
}
#cc5{
   left: 0; 
   width: 1017px;
   height: 655px; 
   top: 1502px;
}
#cont1{
   left:calc(50% - 435px);
   top:122px; 
   width: 870px; 
   height: 141px;
}
@media all and (max-width: 768px) {
   #Line5 ,#Line2,#Line3 ,#Line4 ,#Line6
   {
      height: 75px;
   }
   #wb_Text2
   {
      left:0;
      top:calc(130px + 30px);
      width:100%;
      height:50px;
      font-size: 20px;
      font-weight: 300;
   }
   #wb_Text4
   {
      left:0;
      top:calc(130px + 30px);
      width:100%;
      height:50px;
      font-size: 20px;
      font-weight: 300;
   }
   #wb_Text8
   {
      left:0;
      top:calc(130px + 30px);
      width:100%;
      height:50px;
      font-size: 20px;
      font-weight: 300;
   }
   #wb_Text9
   {
      left:0;
      top:calc(130px + 30px);
      width:100%;
      height:50px;
      font-size: 20px;
      font-weight: 300;
   }
   #Line1
   {
      top:62px;
   }
   #wb_Heading3
   {
      height:32px;
      left:0;
      top:100px;
      width:100%;
   }
   #Heading3
   {
      
      font-size: 32px;
   }
   #wb_Text10
   {
      top:75px;
      height:17px;
   }
   #wb_Text24
   {
      top:130px;
      height:17px;
   }
   #wb_Text25
   {
      top:210px;
      height:89px;
   }
   #wb_Text11
   {
      top:75px;
      height:45px;
   }
   #wb_Text26
   {
      top:180px;
      height:15px;
   }
   #wb_Text27
   {
      top:260px;
      height:104px;
   }
   #wb_Text12
   {
      top:75px;
      height:64px;
   }
   #wb_Text23
   {
      top:210px;
      height:184px;
   }
   #wb_Text28
   {
      top:615px;
      height:60px;
   }
   #wb_Text16
   {
      top:75px;
      height:132px;
   }
   #wb_Text18
   {
      top:260px;
      height:189px;
   }
   #wb_Text13
   {
      top:580px;
      height:74px;
   }
   #wb_Text19
   {
      top:75px;
      height:132px;
   }
   #wb_Heading16, #wb_Heading1 ,#wb_Heading2 ,#wb_Heading4 , #wb_Heading5
   {
      top: 0px;
      height: 75px;
   }
   #Heading16, #Heading1 ,#Heading2 ,#Heading4 , #Heading5
   {
      font-size: 30px;
   }

   #Image5 {
      height: 125px;
      width: 130px;
      padding-left: calc(50% - 65px);
      margin: 0;
   }
   
   #wb_Image5 {
      left: 0;
      top: 0;
      height: 210px;
      width: 50%;
   }
   #Image2 {
      height: 130px;
      width: 110px;
      padding-left: calc(50% - 55px);
   }
   #wb_Image2 {
      left: 0;
      top: 270px;
      height: 210px;
      width: 50%;
   }
   #Image4 {
      height: 130px;
      width: 130px;
      padding-left: calc(50% - 65px);
      margin: 0;
   }
   #wb_Image4 {
      left: 50%;
      top: 0;
      height: 210px;
      width: 50%;
   }
   #Image3 {
      height: 130px;
      width: 124px;
      padding-left: calc(50% - 62px);
      margin: 0;
   }
   #wb_Image3 {
      left: 50%;
      top: 270px;
      height: 210px;
      width: 50%;
   }

   
   #cont1 {
      left: 30px;
      top: 243px;
      width: calc(100% - 60px);
      height: 300px;
   }
   #wb_Text15 {
      top:774px;
      font-weight: 600;
      font-size: 24px;
      height: 110px;
      left: 30px;
      width: calc(100% - 60px);
   }
   #wb_Shape7 {
      left: 0px;
      top: 538px;
      width: 100%;
      height: 988px;
   }
   #cont2{
      position: absolute;
      width:calc(100% - 60px);
      height: 2050px;
      left:30px;
      top:1647px;
   }
   #cc1{
      left: 0;
      width: 100%;
      height: 290px;
   }
   #cc2 {
      left: 0;
      width: 100%;
      height: 365px;
      top: 400px;
   }
   #cc3{
      left: 0; 
      width: 100%;
      height: 620px; 
      top: 890px;
   }
   #cc4{
      left: 0; 
      width: 100%;
      height: 670px; 
      top: 1640px;
   }
   #cc5{
      left: 0; 
      width: 100%;
      height: 517px; 
      top: 2435px;
   }
   #wb_Image47
   {
      left:0;
      top:59px;
      width:64px;
      height:64px;
   }
   #wb_Image48{
      
      top:58px;
      width: 100%;
      left: 0;
      height:64px;
   }
   #Image48{
      padding-left: 22%;
   }
   #Button21{
      
    padding-right: 23%;
   }
   #right-side
   {
      left:85px;
      top:425px;
      width:calc(100% - 170px);
      height:calc(100% - 455px);
   }
   #left-side
   {
      left:83px;
      top:60px;
      width:calc(100% - 166px);
      height:calc(50% - 60px);
   }
   #wb_Text38
   {
      font-size: 24px;
      height: 24px;
   }
   #wb_Text39
   {
      top: 53px;
      left: 84px;
      font-size: 60px;
      height: 82px;
      letter-spacing: -1.4px;
      width: calc(100% - 84px);
   }
   #wb_Text40
   {
      top: 168px;
      left: 90px;
      font-size: 24px;
      height: 24px;
      width: calc(100% - 90px);
   }
   #wb_Text41
   {
      top: 222px;
      left: 100px;
      font-size: 20px;
      height: 20px;
      width: calc(100% - 118px);
   }
   #wb_Text42
   {
      top: 0;
      left: 0;
      font-size: 24px;
      height: 24px;
      width: 100%;
   }
   #Line7
   {
      top:364px;
      left: 30px;
      width:calc(100% - 60px);
      height:1px;
   }
   #wb_Shape4
   {
      top:4793px;
      width:100%;
      height:973px;
   }
   #wb_Shape6
   {
      height:619px;
   }
   #wb_Text3{
      width: calc(100% - 60px);
      font-size: 40px;
      left: 30px;
   }
   .header__mob 
   {
      display: block;
   }
   #wb_CssMenu1 , .header ,#wb_Image12 ,#wb_Text1,#wb_Image26 ,#wb_Text17
   {
      display: none;
   }
   #PageHeader1
   {
      height:145px;
   }
   #wb_CssMenu3 li ,#wb_CssMenu3 li.firstmain
   {
      float: left;
      margin: 0;
      padding: 15px 0 15px 15px;
      height: 100px;
      width:  100%;
      border: #DFE4E5 solid 2px;
   }
   #wb_CssMenu3 ul
   {
      list-style-type: none;
      margin-top: -31px;
      padding: 0;
      position: relative;
      display: inline-grid;
      left: 0;
      width: 100%;
      height: 100%;
   }
   #wb_CssMenu3 a
   {
      display: block;
      float: left;
      color: #1C1C1C;
      border: 0px #CCCCCC solid;
      background-color: transparent;
      background-image: url(../images/ic-2.png);
      background-repeat: no-repeat;
      background-position: left center;
      font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
      font-weight: 600;
      font-size: 24px;
      font-style: normal;
      text-decoration: none;
      width: calc(100% - 60px);
      height: 100px;
      line-height: 100px;
      padding: 0px 0px 0px 60px;
      vertical-align: middle;
      text-align: left;
   }
   #wb_CssMenu3 {
      background-color: #FFFFFF;
      height: 832px;
      overflow-y: auto;
      white-space: break-spaces;
   }
   #wb_Image49{
      padding-bottom: 25px;
      top:6070px;
   }
   #wb_CssMenu2
   {
      left:0px;
      top:5764px;
      width:100%;
      height:max-content;
      text-align:center;
      background: #0e3962;
      z-index:41;
   }
   #wb_CssMenu2 ul
   {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: relative;
      display: inline-grid;
      left: 0;
      width: 100%;
   }
   #wb_CssMenu2 li
   {
      /* padding: 0 29px 0 0; */
      height: 48px;
   }
   #wb_CssMenu2 a
   {
      display: block;
      float: left;
      color: #FFFFFF;
      border-bottom: 1px dotted #879cb1;
      /* background-color: transparent;
      background-image: url(../images/ico_triangle.png);
      background-repeat: no-repeat;
      background-position: right center; */
      background: url(../images/ico_triangle.png) no-repeat 97% center;
      font-family: Arial;
      font-weight: normal;
      font-size: 1.2rem;
      font-style: normal;
      text-decoration: none;
      width: calc(100% - 29px);
      height: 19px;
      line-height: 1.6;
      padding: 15px 15px 13px;
      vertical-align: middle;
      text-align: left;
      transition: 0.2s ease-in-out;
   }
   #wb_CssMenu2 li:hover a, #wb_CssMenu2 a:hover
   {
      color: #D7092F;
      background-color: transparent;
      background-image: url(../images/ico_triangle.png);
      background-repeat: no-repeat;
      background-position: right center;
      border: 0px #2E6DA4 solid;
   }
  
}
@media all and (max-width: 755px) {
   #left-side{
      width: 68%;
      left: 21%;
   }
   #right-side{
      width: 95%;
      left: 2.5%;
   }
   #wb_Text38
   {
      font-size: 20px;
   }
   #wb_Text39
   {
      font-size: 40px;
   }
   #wb_Text40
   {
      font-size: 18px;
   }
   #wb_Text41
   {
      font-size: 14px;
   }
   #wb_Text42
   {
      font-size: 20px;
   }
   #wb_Image47
   {
      left:0;
      top:59px;
      width:50px;
      height:50px;
   }
}

@media all and (max-width: 660px) {
   #Heading16, #Heading1 ,#Heading2 ,#Heading4 , #Heading5
   {
      font-size: 19px;
   }
   #wb_Text10
   {
      top:60px;
      height:17px;
   }
   #wb_Text11
   {
      top:53px;
      height:45px;
   }
   #wb_Text12
   {
      top:53px;
      height:64px;
   }
   #wb_Text16
   {
      top:53px;
      height:132px;
   }
   #wb_Text19
   {
      top:53px;
      height:132px;
   }
   #Line5 ,#Line2,#Line3 ,#Line4 ,#Line6
   {
      height: 48px;
   }
}
@media all and (max-width: 600px) {
   #left-side{
      width: 95%;
      left: 2.5%;
   }
}
@media all and (max-width: 500px) {
   #wb_Text10 ,#wb_Text11,#wb_Text12,#wb_Text13,#wb_Text14,#wb_Text16,#wb_Text18,#wb_Text19,#wb_Text20,#wb_Text23,#wb_Text24,#wb_Text25,#wb_Text26,#wb_Text27,#wb_Text28 
   {
      font-size: 14px;
   }
   #Heading16 , #Heading1, #Heading2, #Heading4 , #Heading5
   {
      font-size: 16px;
   }
}
@media all and (max-width: 421px) {
   
}
@media all and (max-width: 900px) {
   
}
@media all and (max-width: 1140px) {
   
}
@media all and (min-width: 769px) {
   #wb_CssMenu3{
      display: none;
   }
}
@media all and (min-width: 1400px) {
   
}